.navbar{
    position: absolute;
    top: 50;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: transparent;
}

.logo {
    position: absolute;
    top: -12.5rem; 
    left:-8%;   
    display: flex;
    align-items: center;
    transform: scale(0.5);
}
  
.nav-icon {
    position: absolute;
    margin-bottom: -5rem;
    right: 1rem;
    font-size: 3rem;
    color:white;
}