@import url(https://fonts.cdnfonts.com/css/verdana)

;root{
  --darkcolor: #2000FF;
  --lightcolor: #fddfdf;
}

* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}
body {
  font-family: Verdana, Tahoma, sans-serif;
}

ul {
  list-style-type:none;
}

a {
  text-decoration:none;
}

h1 {
  font-size:3.5rem;
}

h2 {
  font-size:2.5rem;
}

.container{
  max-width: 1240px;
  margin: auto;
  padding: 0 1rem;
}

button{
  background-color: linear-gradient(45deg,var(--darkcolor)0%,var(--lightcolor)100%);
  border: 1px solid var(--darkcolor);
  color: black;
  padding: .7rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-family: Verdana, Tahoma, sans-serif;
}

@media screen and (max-width: 940px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}